<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All KWIC Entries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>All Stored KWIC Entries</h1>
        <ul class="list-group">
            <li class="list-group-item" th:each="entry : ${allEntries}" th:text="${entry.shiftedSentence}"></li>
        </ul>
        <a href="/" class="btn btn-primary mt-4">Back to Home</a>
    </div>
</body>
</html>
